*{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    div{
        padding: 20px 40px;
        background-color: green;
        color: white;
        font-size: 20px;
    }
    #grid{
        display: grid;
        grid-template-columns: 242.5px 242.5px 242.5px 242.5px;
        grid-template-rows: 124px 124px 124px 124px 124px;
		grid-gap:10px 10px;
    }
    .one1{
        grid-column: 4/auto;
    }
    .one2{
        grid-row: 2/6
    }
    .one4{
        grid-column: 3/5;
    }
    .one5{
        grid-column: 2/4;
    }
    .one10{
        grid-column: 2/5;
    }