*{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }
    div{
        padding: 20px 40px;
        background-color: green;
        color: white;
        font-size: 20px;
    }
    #grid{
        display: grid;
        grid-template-columns: 242.5px 242.5px 242.5px 242.5px;
        grid-template-rows: 124px 124px 124px 124px 124px;
		grid-gap:10px 10px;
    }
    .one1{
        grid-column: span 4 / auto;
    }
    .one2{
        grid-row: span 4 / auto
    }
    .one4{
        grid-column: span 2 / auto;
    }
    .one5{
        grid-column: span 2 / auto;
    }
    .one10{
        grid-column: span 3 / auto;
    }